@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Mulish:wght@300;400;500;600&display=swap');

.page-styling{
    display: flex;
    flex-direction: row;
}

.faqs-styling{
    display: flex;
    flex-direction: column;
}

.wrapper {
    margin-top: 50px;
    margin-left: 70px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(6,1fr);
    column-gap:0px;
    row-gap:10px;
}
.backButton{
    /* grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end:2; */
    display: flex;
    flex-direction: row;
    margin-top: 0;
}
.faqs {
    grid-column-start: 3;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 6;
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: bold;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #151414;
}

.q1 {
    margin-top:40px;
}

.questionWrapper {
    background-color: #eee;
    padding: 15px;
    border:0.5px solid #ccc;
    font-size: medium;
}

.questionWrapper:hover {
    cursor: pointer;
}

.questionTextWrapper{
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
}

.question {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.answerWrapper {
    display: none;
    padding: 15px 0;
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

.questionDropDown {
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    height: 20px;
    width:20px;
    background-image: url("../../assets/down-arrow.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.show {
    display: block;
}
